.Body {
  column-count: 3;
  column-gap: 10px;
}

@media only screen and (max-width: 400px) {
  .Body {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1000px) {
  .Body {
    column-count: 4;
  }
}