.Header {
  display: flex;
  justify-content: space-between;
}

.Header div {
  width: 33vw;
  height: 60%;
  display: flex;
}

.UserDiv {
  justify-content: left;
}

.UserDiv img {
  position: relative;
  left: 1%;
  top: 10%;
}

.UserDiv p {
  position: relative;
  left: 2%;
  color: white;
}

.LoginDiv {
  justify-content: right;
  max-height: 100%;
}

.LoginButton {
  position: relative;
  right: 2%;
  top: 20%;
}

.SearchDiv {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
}

.Search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.SearchTextBox {
  width: 70%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 5px;
}

.SearchButton {
  border: none;
  border-radius: 10px;
}