.Image {
  display: flex;
  flex-direction: row;
  width: 19vw;
  margin-left: 5vw;
  margin-top: 0.3vw;
}

.ImageDiv {
  display: flex;
  width: 100%;
}

.ImageDiv img {
  width: 100%;
  margin: auto;
}

.TagsDiv {
  height: 10%;
  display: flex;
  justify-content: right;
}

.TagButton {
  height: 26px;
}
